@media only screen and (max-width: 1440px){
    .navbar-brand{
        font-size: 1.5rem!important;
    }
    .text-heading{
        font-size: 4rem;
    }
    .text-medium{
        font-size: 2rem;
    }
    .text-para{
        font-size: 1rem;
    }
    .navbar{
        font-size: 0.8rem;
    }
    .top{
        padding: 3rem 1rem;
    }
    .banner-img img{
        width: 25rem;
    }
    .project{
        padding: 4rem;
    }
    .card{
        width: 13rem;
    }
    .about-data{
        padding-top: 22px;
    }
}
@media only screen and (max-width: 1024rem){
    
    .navbar-brand{
        font-size: 1.5rem!important;
    }
    .text-heading{
        font-size: 4rem;
    }
    .text-medium{
        font-size: 2rem;
    }
    .text-para{
        font-size: 1rem;
    }
    .navbar{
        font-size: 0.8rem;
    }
    .top{
        padding: 3rem 1rem;
    }
    .banner-img img{
        width: 25rem;
    }
    .banner-img{
        text-align: center;
    }
    .banner-content{
        text-align: center;
    }
    .about{
        padding: 2rem 1rem;
        text-align: center;
    }
    .about img{
        width: 15rem;
        /* margin-left: 5rem; */
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
    .about-data{
        text-align: left;
    }
    .about-title{
        letter-spacing: 15px;
        font-size: 2rem;
    }
    .project{
        padding: 3rem;
    }
    .card{

    }
}
@media only screen and (max-width: 768rem){
    .navbar-toggler i{
        color: black;
        background-color: black;
        display: block;
      } 
      .navbar-toggler{
          background-color: antiquewhite;
          padding: 10px 10px;
      }
    .navbar{
        padding: 10px 2.8rem 10px 2.8rem;
    }
    .card{
        width: 18rem;
        margin: 10px 0 10px 0;
    }
    .project{
        padding: 4rem 4rem;
    }
    .social img{
        padding: 0;
        padding-top: 20px;
        width: 50px;
    }
}
@media only screen and (max-width: 500px){
    .banner-img img{
        width: 15rem;
    }
    .top{
        padding: 0;
    }
    .about-title{
        font-size: 1.5rem;
    }
    .card{
        width: 90%;
    }
    .project-title{
        font-size: 1.5rem;
    }
    .social-title{
        font-size: 1.5rem;
    }
    .social img{
        width: 40px;
    }
    .project{
        padding: 4rem 4rem;
    }
    .card{
        width: 22rem;
    }
}
@media only screen and (max-width: 425px){
    .card{
        width: 22rem;
    }
    .project{
        padding: 4rem 1.2rem;
    }
}
@media only screen and (max-width: 375px){
    .card{
        width: 20rem;
    }
    .project{
        padding: 4rem 1rem;
    }
}
@media only screen and (max-width: 320px){
    .card{
        width: 16rem;
    }
    .project{
        padding: 4rem 1.2rem;
    }
}