*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.main{
    width: 100%;
	float: left;
    overflow: hidden;
}
.container-typing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
}

/* cursor */
.txt-type> .txt{
    border-right: 0.2rem solid #000;
}
.txt-type2> .txt{
    border-right: 0.2rem solid #000;
}

.txt-type2{
    font-weight: 900;
}

.company{
    font-weight: 700;
    color: #212B57;
}

.role{
    font-weight: 700;
    color: #212B57;
}

/* typography */
.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Langar', cursive;
    color:#eeeeee;
}
.text-heading{
    font-family: 'Langar', cursive;
    font-size: 5rem;
    color: #212B57;
}
.text-medium{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3rem;
    color: #222831;
}
.text-para{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #222831;
    line-height: 2;
}

/* header */

.navbar{
    width: 100%;
    text-align: left;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: #212B57;
}
/* .navbar-collapse{
    padding: 1rem 2rem 1rem 2rem;
} */
.nav-link{
    margin: 0 1.2rem 0 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: #eeeeee;
}
.nav-link:hover{
    color: wheat;
}
.navbar-brand:hover{
    color: wheat;
}
.navbar-toggler-icon{
    display: block;
    width: 1.5em;
    height: 5px;
    background: no-repeat center center;
    background-size: 100% 100%;
    background-color: #212B57;
    float: left;
    margin-bottom: 4px;
}
.last{
    margin-bottom: 0;
}
.navbar-toggler{
    width: 50px;
    background-color: #eeeeee;
}

/* end of header */

 /* section top */

.top{
    padding: 5rem 1rem;
}
.banner-content{
    padding: 10rem 2rem 0 2rem;
    text-align: left!important;
}
.banner-img{
    padding: 7rem 2rem 0 2rem;
}
.banner-img img{
    width: 30rem;
}
.button-cv{
    border: #212B57 solid;
    color: #222831;
    font-weight: 500;
}
.button-cv:hover{
    background-color: #212B57;
    color: white;
    font-weight: 700;
}

 /* end section top */

 /* about section */

 .about{
    padding: 5rem 1rem;
    background-color: #eeeeee;
 }
 .about img{
     width: 20rem;
     /* border-radius: 50%; */
 }
 .about-title{
    letter-spacing: 20px;
}
 .about-data p{
     padding-top: 1rem;
 }

 /* end of about section */

 /* project section */

.project{
    padding: 5rem 9rem;
}
.project-title{
    letter-spacing: 20px;
}
.card{
    text-align: center;
    background-color: #eeeeee;
    width: 15rem;
    /* height: 20rem; */
}
.card:hover{
    box-shadow: 0px 10px 30px #212B57;
}
.card-body{
    text-align: left;
}
.card-title{
    font-family: 'Noto Sans JP', sans-serif;
}
.card-text{
    font-size: 12px;
}
.button-project{
    background-color: #212B57;
    color: #eeeeee;
    border: #212B57 solid 2px;
}
.button-project:hover{
    color: #212B57;
    background-color: #eeeeee;
    border: #212B57 solid 2px;
    font-weight: 900;
}
 /* end of project section */

/* quote */
.quote{
    padding: 10rem 2rem;
    background-color: #eeeeee;
    text-align: center;
}
.quote-heading{
    font-weight: 700;
    font-size: 2.3rem;
    font-family: 'Caveat', cursive;
}
.quote p{
    padding-right: 9rem;
    font-weight: 600;
}



/* end of quote */





 /* social section */

 .social{
    padding: 5rem 1rem;
 }
 .social-title{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    letter-spacing: 15px;
 }
 .social img{
     width: 5rem;
     padding: 1rem;
     transition: 0.5s;
 }
 .social-icons a:hover img{
    transform: translateY(-10px);
 }

 /* end of social section */

 /* footer */

 .footer{
    padding: 5rem 1rem 0 1rem;
    background-color: #222831;
    color: #eeeeee;
 }
 .reg{
    color: white;
    /* padding-top: 3rem; */
    padding: 3rem;
 }

 body.dark{
     transition: background 0.2s linear;
 }
body.dark{
    background-color: #212B57;
}
.text-heading-dark{
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: #fafafa!important;
}
.text-medium-dark{
    color: #fafafa!important;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3rem;
}
.text-para-dark{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #fafafa!important;
    line-height: 2;
}
.project-title-dark{
    letter-spacing: 20px;
    color: #fafafa!important;
}
.social-title-dark{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    letter-spacing: 15px;
    color: #fafafa!important;
}
.button-project-dark{
    background-color: #eeeeee;
    color: #212B57;
    border: #212B57 solid 2px;
    font-weight: 500px;
}
.button-project-dark:hover{
    background-color: #212B57;
    color: white;
    font-weight: 700;
    border: #fafafa solid 2.5px;
}
.footer-dark{
    padding: 5rem 1rem 0 1rem;
    background-color: #eeeeee;
    color: #222831;
}
 .checkbox{
     opacity: 0;
     position: absolute;
 }
 .checkbox:checked + .label .ball{
    transform: translateX(24px);
 }
 .label{
     background-color: #111;
     height: 26px;
     width: 50px;
     display: flex;
     border-radius: 50px;
     align-items: center;
     justify-content: space-between;
     padding: 5px;
     position: relative;
     margin-top: 6px;
     transform: scale(1.2);
 }
 .ball{
     width: 22px;
     height: 22px;
     background-color: #fff;
     border-radius: 50%;
     position: absolute;
     top: 2px;
     left: 2px;
     transition: transform 0.2s linear;
 }
 .fa-moon{
     color: #f1c40f;
 }
 .fa-sun{
     color: #f39c12
 }